*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    background-image: url(imaged/Landing\ page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
     
}
.header{
    width: 800px;
 
position: absolute;
left: 300px;
top: 180px;
height: 300px;
 font-size: 20px;
font-weight: 1200;
font-family:   Calibri ;
text-transform: uppercase;
letter-spacing: 2px;
color: yellow;
text-shadow: 3px 4px 50px rgb(0, 0, 0 , 200);
}
.bold1{
    font-size: 78px;
    padding: 10px;
    color: yellow;
    text-shadow: 20px 20px 20px rgb(0, 0, 0 , 200);
      
     font-size: 80px;
}
 
.bottom-text{
    height: 100px;
    text-align: center;
    
    top: 40px;
    background-color: black;
}
.bottom{
    font-size: 60px;
    font-weight: 50;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: black;
    font-family: serif;
     
     
}
.you{
    font-size: 80px;
}
 .section2{
    height: 550px;
    position: relative;
    top: 100px;
    left: 180px;
    display: flex;
    gap: 60px;
    padding-top: 20px;
     
 }
 .image{
    width: 300px;
    height:200px ;
    border-radius: 10px;
 }
 .card{
    height: 370px;
     border: 0.2px solid rgb(150, 140, 140);
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 5px rgb(134, 114, 114 );
    
    transition-duration: 0.3s;
    border-radius: 10px;
     
 }
.card:hover{
    transform:scale(1.04);
}
 img{
    width: 300px;
    height:200px ;
   
 }
 .paragraph{
    width: 300px;
    height:300px ;
    padding: 20px;
    font-size: 17px;
    font-family:  Calibri ;
     
 }
 .card1-heading{
    padding: 5px;
 }
#bottom-text{
    background-color: black;
    color: white;
    height: 300px;
    display: flex;
 
}
 
.one-text{
    background-color: blue;
    width:50%;
     
    transition-duration: 0.3s;
}

.about{
    font-size: 40px;
    background-color: yellow;
    margin-top: 40px;
    text-align: center;
    color: black;
    
}
 
.one-text p{
    padding: 40px;
    font-size: 20px;
    margin-left: 20px;
    transition-duration: 0.3s;
    box-shadow: 2px 5px 30px rgb(255, 255, 8 , 20);
}
#hover1:hover{
    transform: scale(1.03);
    background:linear-gradient( 40deg ,rgb(154, 154, 15) , black, rgb(29, 29, 214));
    border:10px solid rgb(0, 0, 0);
}
#hover2:hover{
    transform: scale(1.03);
    background:linear-gradient( 40deg ,rgb(154, 154, 15) , black, rgb(46, 46, 238));
    border:10px solid rgb(0, 0, 0);
}
.footer{
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
   
}
.footer h1{
    position: relative;
    top: 40px;
    font-size: 30px;
    animation-name: key;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
    animation-timeline:initial;
    
}
@keyframes key {
    0%{
        color: rgb(5, 0, 77);
        text-shadow: 2px 3px 10px white;
        font-size: 34px;
    }
    25%{
        color: aqua;
        text-shadow: 2px 3px 10px rgb(199, 0, 0);
        font-size: 36px;
    }
    50%{
        color: yellow;
        text-shadow: 2px 3px 10px rgb(0, 0, 0);
        font-size: 40px;
    }
    75%{
        color: black;
        text-shadow: 2px 3px 10px rgb(255, 255, 0);
        font-size: 44px;
    }
    100%{
        color: rgb(122, 202, 104);
        text-shadow: 2px 3px 10px rgb(43, 21, 104);
        font-size: 48px;
    }
}







@media (max-width:500px)
{
    body{
        font-size: 32%
    }
    .header{
        width: 800px;
     
    position: absolute;
     
    top: 180px;
    
     font-size: 15px;
    font-weight: 1200;
    font-family:   Calibri ;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: yellow;
    text-shadow: 3px 4px 50px rgb(0, 0, 0 , 200);
    }
    .bold1{
        
       
        color: yellow;
        text-shadow: 20px 20px 20px rgb(0, 0, 0 , 200);
          
         font-size: 45px;
         margin-left: -260px;
    }
    .bottom-text{
        height: 100px;
        text-align: center;
        
        top: 40px;
        background-color: black;
    }
    .bottom{
        font-size: 40px;
        font-weight: 50;
        color: white;
        padding-top: 20px;
        padding-bottom: 30px;
        background-color: black;
        font-family: serif;
         
         
    }
    .you{
        font-size: 60px;
         
    }
    .section2{
        height: 550px;
        position: relative;
        top: 100px;
        left: 180px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding-top: 20px;
        margin-bottom: 400px;
       margin-top: 10px;
       height: 1000px;
        
         
     }
     .card{
        height: 370px;
         border: 0.2px solid rgb(150, 140, 140);
        color: rgb(0, 0, 0);
        box-shadow: 1px 1px 5px rgb(134, 114, 114 );
        width: 60%;
        transition-duration: 0.3s;
        border-radius: 10px;
        margin-left: -90px;
        position: relative;
         
     }
     #bottom-text{
        background-color: black;
        color: white;
        height: 600px;
        display: flex;
        
    }
    .one-text{
       
        width:50%;
        background:linear-gradient( 40deg ,rgb(154, 154, 15) , black, rgb(46, 46, 238));
        border:10px solid rgb(0, 0, 0);
        transition-duration: 0.3s;
        
    }
    
    .about{
        font-size: 20px;
        background-color: yellow;
         padding: 3px 0px;
        text-align: center;
        color: black;
         
        
    }
     #hover2{
        
        font-size: 18px;
         
     }
    .one-text p{
        
        font-size: 18px;
        margin-left: 20px;
        transition-duration: 0.3s;
        box-shadow: 2px 5px 30px rgb(255, 255, 8 , 20);
    }
    .newp{
        padding-bottom: 10px;
    }
    .footer{
        margin-top: 30px;
    }
    .footer{
        height: 200px;
        background-color: black;
        color: white;
        text-align: center;
       
    }
    .footer h1{
        position: relative;
        top: 40px;
        font-size: 20px;
    }
     
}