*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 
 html{
    font-size: 76.5%;
 }
 #fonts-size{
    font-size: 2rem;
 }
 nav a{
    text-decoration: none;
    color: white;
 }
 nav a:hover{
    border-bottom: 3px solid yellow;
 }
 #main-container-fluid{

    background-color: aqua;
    width: 100vw;
    height: 100vh;
 }
 #header{
    
    width: 100vw;
    height: 7rem;
 }
 .hero-section{
    width: 100vw;
    height: 100vh;
    background-color: rgb(14, 14, 72);
 }
 #img-hero-section{
    transform: scale(0.4);
    margin-top: -7rem;
    margin-left: -5rem;
     
 }
 .name-heading{
    margin-left: -3rem;
     
 }
 .hi{
    font-size: 6rem;
    font-weight: bolder;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow;
}
.iam{
    font-size: 4rem;
    text-shadow: 3px 3px 5px rgb(227, 209, 9);
}
.khalid{
    font-size: 5rem;
     
     
  letter-spacing: 3px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 text-shadow: 3px 3px 5px rgb(227, 209, 9);
}
.frontend-developer{
    font-size: 5rem;
   
    white-space: nowrap;
    animation-timeline: auto;
    overflow: hidden;
    border-right: 0.15em solid orange;
    
    animation: 6s steps(40)   0s 1 normal none running typing, 0.75s step-end 0s infinite normal none running blink-caret;
    animation-iteration-count: infinite;
    text-shadow: 3px 3px 5px rgb(227, 209, 9);
}
@keyframes typing {
    from,
    to{
        width: 0%;
    }
    
    50%{
        width: 100%;
        color: rgb(221, 233, 0);
    }
    
}
@keyframes blink-caret {
    
    0%, 100% {
        border-color: transparent;
        
    }
     
    50% {
        border-color: orange;
         
    }
}
.center-section{
    width: 100vw;
    height: 100vh;
    background-color: rgb(14, 14, 72);
    
}
 #row-image{
    background-color:rgb(22, 54, 54) ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 3rem;
    align-items: center;
    place-items: center;
    padding: 3rem;
    
   
    
 }
 #row-image img{
    width: 35rem;
    height: 38rem;
 }
 
 .footer{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;
}
 .last-section{
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    gap: 10rem;
    font-size: 3rem;
    position: relative;
    height: 600px;
    background: linear-gradient(40deg, rgb(6, 58, 60) , rgb(0, 0, 0) , rgb(39, 39, 179,0.5),rgb(72, 28, 28), rgb(73, 171, 3));
    background-size: cover;
    background-position: center;
    
    
 }
 #row-image h2{
    background: linear-gradient(40deg, rgb(6, 58, 60) , rgb(0, 0, 0) , rgb(39, 39, 179,0.5),rgb(72, 28, 28), rgb(133, 1, 45));
    box-shadow: 2px 2px 20px yellow , -2px -2px 20px;
     margin: 20px 0px;
 }
.footer-image img{
    border-radius: 50%;
    width: 200px;
    height: 200px;

}
.info{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}
.points li{
     
    border-bottom: 2px solid grey;
    padding: 20px;
}
.newfooter h2{
    color: black;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}
 .gmail{
    font-size: 20px;
    text-align: center;
    padding: 20px 0px;
 }
 
 .images-content h1{
    font-size: 7rem;
    background-color: rgb(223, 222, 224);
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1rem;
     padding: 4rem 1rem ;
     font-weight: 800;
     margin: 20px 0px;
     color: blue;
     text-shadow: 3px 3px 5px rgb(0, 0, 0);

}
.welcome{
   
    padding:4px 30px ;
    text-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);

}
.welcome h1{
    background-color: yellow;
    padding: 4px 0px;
    box-shadow: 2px 2px 20px yellow , -2px -2px 20px;
}



 @media (max-width:576px)
 {
    html{
        font-size: 40%;
    }
    .welcome{
        margin-top: 70px;
    }
    .center-section{
         padding-top: 30%;
    }
    #hero-main{
        display: flex;
        flex-direction: column;
         
    }
    .center-section{
        width: 100vw;
        height: 100vh;
        background-color: rgb(14, 14, 72);
        margin-top: -200px;
          
    }
    #row-image{
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .info h2{
        
        font-size: 4rem;
    }
    .info h4{
        
        font-size: 2rem;
    }
    .info h5{
        
        font-size: 2rem;
    }
    .info h6{
        
        font-size: 2rem;
    }
    .name-heading{
         text-align: center;
         margin-top: -6rem;
     }
     #hero-main{
         padding-top: 12rem;
         text-align: center;
     }
     .last-section{
        display: flex;
        flex-direction: column;
         padding-top: 200px;
         gap: -30px;
        height: 900px;
      
    }
    .gmail{
        font-size: 10px;
        background-color: blue;
        margin-left: 70px;
        width: 200px;
        margin-bottom: 60px;
        margin-top: 40px;
        color: white;
        padding: 15px 10px;
        box-shadow: 2px 2px 20px yellow , -2px -2px 20px;
    }
    .footer-image{
        padding-top: 60px;
    }
     
 }