*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    display: flex;
    gap: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
}
header{
    height: 100vh;
     width: 300px;
    border: 1px solid grey;
    position: sticky;
    top: 0px;
}
  
 ul li{
   list-style: none;
   border-bottom: 1px solid grey;
   padding: 10px;
   font-size: 20px;
   font-weight: 300;
   transition-duration: 0.5s;
 
 }
 ul li:hover{
    background-color: rgb(37, 21, 180);
    color: rgb(255, 255, 255);

 }
 ul  a{
    text-decoration: none;
    color:  rgb(82, 76, 76);
    
 }
 ul{
    display: flex;
    flex-direction: column;
     justify-content: center;
      
 }
 .heading{
    font-size: 25px;
    border-bottom: 1px solid gray;
    padding: 20px;
    font-weight: 400;
    background:linear-gradient(to left, rgb(47, 39, 39) , rgb(38, 138, 56), rgb(54, 54, 51));
    color: white;
 }
 .main{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    margin-bottom: 20px;
     line-height: 20px;
     font-size: 18px;
     font-weight: 300;
 }
 
 .parag  {
     padding: 20px;
     margin-bottom: 20px;
 }
 .should-now {
    display: flex;
    flex-direction: column;
     
    gap: 10px;
    margin-bottom: 20px;
 }
 .should-now div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    margin-bottom: 20px;
 }
  
 .java{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
 }
 .java div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    margin-bottom: 20px;
 }
 .hellow-world{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
 }
 .hellow-world div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    margin-bottom: 20px;
 }
 .code{
    background-color: aqua;
    font-family :   'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
 }
 .variables{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
 }
 .variables div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    margin-bottom: 20px;
 }
 .myimage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 30px;
     
    ;
    padding: 40px;
 }
 .myimage img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px blue solid;
    box-shadow: 3px 3px 30px black;
 }
 .myimage h1{
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     letter-spacing: 0.3px;
     text-shadow: 2px 2px 20px black;
 }




 @media (max-width:500px)
 {
   .myimage img{
      transform: scale(0.7);
      margin-bottom: -10px;
   }
 }