*{
    margin: 0;
    padding: 0;
    
}
 
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px; 
    box-shadow: 1px 1px 20px rgb(0, 0, 0 , 0.1);
    max-height: 120px; 
    background-color: white;
}
 .container{
    max-width: 1200px;
    margin: 20px 50px;
    border: 1px solid white;
 }
 .logo{
    margin-left: 40px;
 }
 .hero-image{
    background-repeat: no-repeat;
    padding: 30px;
    margin-left: 60px;
     
 }
 .stick{
    position: sticky;
    top: 0px;
 }
 .hero-section{
    display: flex;
     
 }
 .hero-text-container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 30px;
    width: 600px;
    margin-left: 70px;
 }
 .hero-text-container span{
    background-color: rgb(155, 3, 3);
    color: white;
     padding: 8px;
    width: 200px;
    text-align: center;
    
 }
 .hero-text-container h1{
    font-size: 80px;
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0 , 0.5);
 }
 .hero-text-container p{
    font-size: 20px;
    font-weight: 300;
 }
 .hero-text-container button{
    width: 140px;
    padding: 15px 10px;
    background-color: rgb(197, 59, 9);
    color: white;
    border: white;
    font-size: 16px;
 }
 .card-container{
    display: flex;
    height: 300px;
    margin: 40px  30px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 50);
    align-items: center;
    justify-content: center;
    background: linear-gradient(40deg, rgb(6, 58, 60) , rgb(0, 0, 0) , rgb(39, 39, 179,0.5),rgb(72, 28, 28), rgb(73, 171, 3));
    padding: 60px 10px;
    gap: 20px;
    width: 1300px;
 }
 .card{
    display: flex;
    box-shadow: 5px 5px 20px rgba(238, 254, 0, 1)  ;
    margin: 2px;
    color: rgb(0, 0, 0);
    height: 170px;
   padding: 20px  ;
   color: white;
   transition-duration: 0.4s;
 }
 .card:hover{
    transform: scale(1.1);
 }
 .card img{
    margin: 20px 10px;
 }
 .card-text{
    margin: 20px;
 }
 .card-text h1{
    padding: 0px 20px;
    font-weight: 300;
    background-color: yellow;
    color: black;
    
    box-shadow: 2px 2px 5px rgb(238, 231, 231, 2);
 }
 .card-text p{
    margin: 10px 0px;
    font-size: 18px;
 }
 .text-container{
   margin: 70px 40px;
 }
 .images-container{
    margin: 100px 50px;
    display: grid;
    grid-template-columns:  auto auto auto  ;
    grid-template-rows: 3; 
    grid-row-start: 1;
    grid-row-end: 3;
     height: 800px;
      
 }
 .imag1{
    background-image: url('images/pexels-desativado-2433980.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    border: 1px solid white;
    border-radius:10px; 
    transition-duration: 0.4s;
 }
 .imag1:hover{
   transform: scale(1.1);
 }
 .imag2{
    background-image: url('images/pexels-engin-akyurt-2725744.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    border: 1px solid white;
    border-radius:10px;
    transition-duration: 0.4s;
 }
 .imag2:hover{
   transform: scale(1.1);
 }
 .imag3{
    background-image: url('images/pexels-polina-tankilevitch-4109133.jpg ');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    border: 1px solid white;
    border-radius:10px;
    transition-duration: 0.4s;
 }
 .imag3:hover{
   transform: scale(1.1);
 }
 .imag4{
    background-image: url('images/pexels-valeria-boltneva-1893558.jpg ');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    border: 1px solid white;
    border-radius:10px;
    transition-duration: 0.4s;
 }
 .imag4:hover{
   transform: scale(1.1);
 }
 .imag5{
    background-image: url("food1.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    border: 1px solid white;
    border-radius:10px;
    transition-duration: 0.4s;
 }
 .imag5:hover{
   transform: scale(1.1);
 }
 .imag6{
    background-image: url('food2.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    border: 1px solid white;
    border-radius:10px;
    transition-duration: 0.4s;
 }
 .imag6:hover{
   transform: scale(1.1);
 }
 .imag7{
    background-image: url('food3.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    border: 1px solid white;
    border-radius:10px;
    transition-duration: 0.4s;
 }
 .imag7:hover{
   transform: scale(1.1);
 }
 .imag8{
    background-image: url('images/pexels-valeria-boltneva-1893558.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    border: 1px solid white;
    border-radius:10px;
    transition-duration: 0.4s;
 }
 .imag8:hover{
   transform: scale(1.1);
 }
 .imag9{
    background-image: url('images/pexels-valeria-boltneva-1893558.jpg ');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    border: 1px solid white;
    border-radius:10px;
    transition-duration: 0.4s;
     
 }
 .imag9:hover{
   transform: scale(1.1);
 }
 .text-container h1{
    text-align: center;
    font-size: 35px;
    padding: 10px;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0 , 0.5);
 }
 .text-container h3{
   text-align: center;
   font-size: 25px;
   padding: 10px;
   margin-bottom: 40px;
   background-color: red;
   width: 140px;
   margin-left: 560px;
   font-size: 22px;
   font-weight: 300;
   color: white;
 }
 .toggle{
   margin-left: 800px;
   transform: scale(0.8);
 }
  
  .toggle-text{
    position: relative;
    left: 1015px;
    bottom: 10px;
    
  }
  .btn-container{
   display: flex;
   justify-content: right;
   margin-left: 790px;
   width: 300px;
   margin-top: -10px;

   
  }
  .btn-container button{
   padding: 2px 5px;
   width: 50px;
   margin: 3px;
  z-index: 4;
 
  
  }
  #daybtn{
   background-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   transition-duration: 0.3s;
  }
  #nightbtn{
   background-color: rgb(255, 255, 255);
   color: rgb(25, 17, 17);
   transition-duration: 0.3s;
  }
  #daybtn:hover{
   transform: scale(1.1);
   
  }
  #nightbtn:hover{
   transform: scale(1.1);
  }
  .footer{
   display: flex;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 20px 0px;
   height: 300px;
   padding: 30px;
   gap: 80px;
   color: black;
   background-color: rgb(192, 235, 182);
  }
  .main-links{
   display: flex;
   flex-direction: column;
   
   width: 240px;
   height: 300px;
   
  }
  .main-links h3{
   font-size: 25px;
   font-weight: 700;
   margin: 20px 0px;
   color: rgb(54, 89, 78);
  }
  .main-links span{
   font-size: 19px;
   padding-bottom: 10px;
  }
  .support{
   display: flex;
   flex-direction: column;
   
   width: 240px;
   height: 300px;
  }
  .support h3{
   font-size: 25px;
   font-weight: 700;
   margin: 20px 0px;
   color: rgb(54, 89, 78);
  }
  .support span{
   font-size: 19px;
   padding-bottom: 10px;
  }
  .icons{
   display: flex;
   flex-direction: column;
     
   width: 240px;
   height: 300px;
  }
  .icons h3{
   font-size: 25px;
   font-weight: 700;
   margin: 20px 0px;
   color: rgb(54, 89, 78);
  }
  .icons-container{
   display: flex;
  }
  .logo-footer{
   margin: 30px 10px;
  }  
  .stick{
   width: 425px;
  }
  
  .icons img{
     
   transform: scale(0.6);
   margin-right: 20px;
   margin-top: -5px;
  }
  .icons input{
   padding: 5px 0px;
  }
.icons-container{
   margin-right: 20px;
}
  

@media (max-width:500px)
{
   .images-container{
      width: 425px;
   }
   .navbar{
      display: flex;
      justify-content: space-between;
      padding: 20px 60px; 
      
      max-height: 120px; 
      background-color: white;
      width: 425px;
  }
   .container{
      max-width: 1200px;
      margin: 20px 50px;
      border: 1px solid white;
      background-color: white;
   }
   .logo{
      margin-left: 40px;
   }
   .btn-container{
      display: flex;
      justify-content: right;
      margin-left: 95px;
      width: 300px;
      margin-top: -13px;
   
      
     }
     .logimage{
      margin-left: -60px;
      transform: scale(0.7);
   }

.hero-image{
   background-repeat: no-repeat;
   padding: 10px;
   margin-left: -120px;
   transform: scale(0.5);
    
}
.hero-text-container{
   display: flex;
   flex-direction: column;
   margin-top: 0px;
   gap: 35px;
   width: 300px;
   margin-left: 0px;
   transform: scale(0.5);
   margin-left: -190px;
}
.logo-container{
   width: 425px;
}
.card-container{
   display: flex;
   flex-direction: column;
    margin-left: -2px;
   height: 700px;
   transform: scale(0.8);
   box-shadow: 2px 2px 20px rgba(0, 0, 0, 50);
   align-items: center;
   justify-content: center;
   background: linear-gradient(40deg, rgb(6, 58, 60) , rgb(0, 0, 0) , rgb(39, 39, 179,0.5),rgb(72, 28, 28), rgb(73, 171, 3));
   padding: 60px 20px;
   gap: 20px;
    width: 500px;
}
#formedia{
   padding: 60px 20px;
}
 
 
.card img{
   margin: 20px 10px;
}
.card-text{
   margin: 20px;
}
.card-text h1{
   padding: 0px 20px;
   font-weight: 300;
   background-color: yellow;
   color: black;
   
   box-shadow: 2px 2px 5px rgb(238, 231, 231, 2);
}
.card-text p{
   margin: 10px 0px;
   font-size: 18px;
}
 #bar-container{
    margin-left: -80px;
    transform: scale(0.7);
 }
 #stickkro{
   position: sticky;
   top: 0px;
}
.footer{
   display: grid;
   grid-template-columns: 2;
   grid-template-columns: auto auto ;
   grid-template-rows: 3;
   flex-direction: column;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 20px 0px;
   height: 300px;
   padding: 30px;
   width: 425px;
   gap: 10px;
   color: rgb(255, 255, 255);
   background-color: rgb(25, 46, 21);
   
  }
  .footer h3{
   color: white;
  }
  .text-container h3{
   text-align: center;
   font-size: 25px;
   padding: 10px;
   margin-bottom: 40px;
   background-color: red;
   width: 140px;
   margin-left: 170px;
   font-size: 22px;
   font-weight: 300;
   color: white;

 }
.text-container h1{
   margin-left: 100px;
}
 .main-links{
   display: flex;
   flex-direction: column;
   margin-left: -5px;
   margin-top: 30px;
   width: 425px;
   height: 300px;
   
  }
  .logo-footer{
    margin-top: 100px;
    margin-left: -5px;
  }  
  .support{
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   width: 240px;
   height: 300px;
   color: black;
   
     
  }
  .support h3{
   color: black;
  }
  .icons{
   display: flex;
   flex-direction: column;
     margin-left: -5px;
   width: 240px;
   height: 300px;
   color: black;
   
  }
  .icons h3{
   color: black;
  }
  .icons-container{
   margin-left: -40px;
   display: flex;
    transform: scale(0.8);
  }
  .image-section-container{
   width: 425px;
  }
  .image-text-section{
   width: 425px;
  }
  .emailme{
    padding-left: 3px;
    width: 200px;
    margin-left: 5px;
    background-color: rgb(23, 217, 247);
     
  }
  .myfooter{
   margin-top: 340px;
   background-color: blue;
   color: white;
   padding: 5px 15px;
   width: 425px;
   margin-left: 20px;
  }
  .myfooter h2{
   text-align: center;
    font-size: 15px;
  }
  .ourmenu{
   margin-left: 50px;
  }
}